<%- include("templates/cabecera",{tituloWeb:"Detalle de Mascota"})%>

 <div class="container">
    <h1>Detalle Mascota</h1>
    <% if (error) { %>
        <p><%= mensaje %></p>
        <a href="/mascotas"
        class="btn btn-dark btn-block"
        > 
        Volver a Mascotas
        </a>
    <% } %>

    <% if (!error) { %>
        <form action="" class="form-group ">
            <input type="text"
            class="form-control mt-2"
            name="nombre"
            value="<%= mascota.nombre %>">

            <input type="text"
            class="form-control mt-2"
            name="descripcion"
            value="<%= mascota.descripcion %>">

            <button class="btn btn-warning btn-block mt-2">
                Editar
            </button>
        </form>
        <button 
            class="btn btn-danger btn-sm mt-5" 
            id="btnEliminar"  
            data-id="<%= mascota.id %>"
            >
            Eliminar
        </button>
                      <!--   <a href="mascotas/<%= mascota.id %>"
                            class="btn btn-warning btn-sm"
                        >
                        Editar
                        </a> -->
    <% } %>

</div>   
<%- include('templates/footer')%>

<script>

    const btnEliminar = document.querySelector('#btnEliminar');
    btnEliminar.addEventListener('click', async()=>{
        const id = btnEliminar.dataset.id;
       // console.log('id', id);
        try {
        const data = await fetch(`/mascotas/${id}`, {
            method: "delete"
        }) 
        const res = await data.json()
        if(res.estado){
            window.location.href= '/mascotas'
        } else{
            console.log(res);
        }
        console.log(res);
        }catch (error) {
            console.log(error);
        }
    });
    
</script>

